body {
  color: #383e45;
  font-size: 1rem;
  position: relative;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  text-align: center;
}

nav {
  background-color: #191e24f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 50px;
  box-shadow: 10px 10px 10px;
  /* color:(128, 128, 128, 0.548); */
  color: white;
  position: relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

.delayScroll img {
  width: 250px;
  height: 250px;
  border-radius: 3%;
}

li {
  list-style: none;
  width: 70px;
  text-align: center;
}
li a {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 20px 15px;
  transition: 0.4s;
  color: white;
}
li a:hover {
  /* color: #f1c40f; */
  /* border-bottom: 4px #f1c40f solid; */
  /* transition: 0.4s; */
  /* border: none; */
  font-weight: bold;
  letter-spacing: 3px;
}

.hide {
  top: 70px;
}

.headline {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.wrapper {
  justify-content: space-between;
  align-items: center;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color: white;
  font-size: 20px;
}

#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 動きをつけるために追加中 */
#about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 100px;
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ここまで */

#about .text {
  text-align: left;
}

/*-------------------------------------------
プロフィール
-------------------------------------------*/
#world ul {
  display: flex;
  justify-content: space-between;
}

#world li {
  width: 32%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 10px;
  padding: 10px 0;
  text-align: center;
}

h2.font_2 a {
  color: black;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 700px) {
  /*-------------------------------------------
  About
  -------------------------------------------*/
  #about .content {
    flex-direction: column;
  }
  .section-title {
    font-size: 30px;
    border-left: 0.3em solid rgb(0, 0, 0);
    padding-bottom: 0.5em;
  }

  #about img {
    margin-right: 0;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
  }

  nav {
    position: relative;
    padding: 15px 20px;
  }
}

/* ul {
  width: 100%; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -300px;
  right: 0;
  background-color: #f1c40f;
  padding: 35px 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 5px;
} */
